<div>
    <div class="container">
        <h2>About Us</h2>
        <p>This app <span>Quiz Model</span> is a sample work of <span>KDeveloper</span>. This app is developed on MEAN steak i.e using MangoDB, Express Module, AngularJS and Node.js.
            <br> Bootstrap is used for UI.   </p>

        <h4>About App</h4>
        <p>Students will first register into the app, then they will be allowed to learn different languages such as HTML5, JavaScript, CSS3 and many more, through videos and<br>
            online tutors.Content will be both free and paid. After taking the class they can take online quiz and can share their result with other.</p>

        <h3>Muddassir Khanani</h3>
        <p>He is an MSP, And CEO & Founder of the KDEVELOPER.  </p>
    </div>
</div>