<div>
    <div class="container">

    <div>
        <h1>{{message}}</h1>
        <p>Learn different type of Programing languages, Such as HTML5, CSS3 and JavaScript. And learn how to built single Page web App using different Libraries.
           <br> We provide both paid and free content for Learning.</p>
        <p>We will provide you different types of tutorial and assignment. According to your need, We will guide you step step and let you become expert.
        <br>And able to make your App.</p>
        <p>We use different Code Sharing Sites such as GitHub, Bitbucket, etc.</p>
        <h2>Main Languages We Teach</h2>

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="../img/html5_logo.png" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>HTML5</h2>
                <p>HTML5 will be the new standard for HTML. The previous version of HTML, HTML 4.01, came in 1999. The web has changed a lot since then. HTML5 is still a work in progress. However, the major browsers support many of the new HTML5 elements and APIs..</p>
                <p><a ng-show="user_in" class="btn btn-default">Start Learning &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/javascript_logo.png" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>JavaScript</h2>
                <p>JavaScript is the world's most popular programming language.

                    It is the language for HTML, for the web, for servers, PCs, laptops, tablets, phones, and more.
                    A scripting language is a lightweight programming language.
                    JavaScript is programming code that can be inserted into HTML pages.
                    JavaScript code can be executed by all modern web browsers.
                    JavaScript is easy to learn.</p>
                <p><a ng-show="user_in" class="btn btn-default" >Start Learning &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="../img/css3_logo.png" data-src="holder.js/140x140" alt="Generic placeholder image">
                <h2>CSS3</h2>
                <p>CSS3 is completely backwards compatible with earlier versions of CSS.
                   This means that you will not have to change existing designs.CSS3 has been split into "modules".
                    It contains the "old CSS specification" (which has been split into smaller pieces).
                    In addition, new modules are added.</p>
                <p><a ng-show="user_in" class="btn btn-default" >Start Learning &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <h3>Other libraries we Teach </h3>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/jquery_logo.png" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/jqerymobilr_logo.png" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/angular_logo.png" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/phonegap_logo.png" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/mongo_logo.png" alt="...">
                </a>
            </div>
            <div class="col-sm-12 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="../img/bootstrape_logo.png" alt="...">
                </a>
            </div>
        </div>
    </div>
        <br>
    <div  ng-show="user_in">welcome</div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3" ng-show="user_out"><h3>You Should Sign In to Start Learning.</h3></div>
        </div>
     </div>
</div>