
<div>


        <div class="jumbotron">
            <div class="container">
                <h1>Welcome!</h1>
                <p>This is a E-Learning platform for students how are interested in learning different programing languages, Such as HTML5, CSS3, Javascript and many more.</p>
                <p><a ng-click="go('/')" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                    <h2>Learn</h2>
                    <p>Learn different type of Programing languages, Such as HTML5, CSS3 and JavaScript. And learn how to built single Page web App using different Libraries.We provide both paid and free content for Learning. </p>
                    <p><a class="btn btn-default" ng-click="go('/learn_pg')">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Take Quiz</h2>
                    <p>After completing the learning session, Test your skill by taking simple and advance quiz. Quiz are completed in such a way to test your skill and locate your weakness in certain area.</p>
                    <p><a class="btn btn-default" ng-click="go('/takeQuiz_pg')">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Share With other</h2>
                    <p>After taking the quizzes you will be allowed to share your result and certificate with other and You can also share this in other sites.</p>
                    <p><a class="btn btn-default" ng-click="go('/shareWith_pg')">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2013</p>
            </footer>
        </div> <!-- /container -->






    </div> <!-- /container -->









</div>