<div>
    <form class="form-signin">
        <h2 class="form-signin-heading">Please Register</h2>
        <input type="text" class="input-block-level" placeholder="Name">
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <input type="password" class="input-block-level" placeholder="Re-Password">
        <button class="btn btn-large btn-success" ng-click="go('/register')" >Register</button>
    </form>
</div>