<div>
    <div class="container">
        <h1>{{message}}</h1>
        <table border="1">
            <tr>
                <th>S.NO</th>
                <th>Quiz Name</th>
                <th>Marks</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="g in resultData">
                <td>{{$index+1}}</td>
                <td>{{g.quiz_name}}</td>
                <td>{{g.userResult}}</td>
                <td>{{g.date}}</td>
            </tr>

        </table>
    </div>
</div>