<div>

    <form class="form-signin">
        <h2 class="form-signin-heading">Please Sign In</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-success" type="submit">Sign in</button>
        <button class="btn btn-large btn-primary" ng-click="go('/register')" >Register</button>
    </form>

</div>