<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
      <div class="navbar-inner">
          <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#">Project name</a>
              <div class="nav-collapse collapse">
                  <ul class="nav">
                      <li class="active"><a href="#/">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#contact">Contact</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li class="divider"></li>
                              <li class="nav-header">Nav header</li>
                              <li><a href="#">Separated link</a></li>
                              <li><a href="#">One more separated link</a></li>
                          </ul>
                      </li>
                  </ul>

                  <button ng-show="inBtn" ng-click="go('/signin')" class="navbar-form pull-right btn">Sign in</button>
                  <button ng-show="outBtn" ng-click="go('/signout')" class="navbar-form pull-right btn">Sign out</button>


              </div><!--/.nav-collapse -->
          </div>
      </div>
  </div>
    <div ng-view></div>
  </body>
  <script src="/javascripts/vendors/angular.js"></script>
  <script src="/javascripts/vendors/angular-resource.min.js"></script>
  <script src="/javascripts/vendors/angular-bootstrap.js"></script>
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/vendors/bootstrap-transition.js"></script>
  <script src="/javascripts/vendors/bootstrap-alert.js"></script>
  <script src="/javascripts/vendors/bootstrap-modal.js"></script>
  <script src="/javascripts/vendors/bootstrap-dropdown.js"></script>
  <script src="/javascripts/vendors/bootstrap-scrollspy.js"></script>
  <script src="/javascripts/vendors/bootstrap-tab.js"></script>
  <script src="/javascripts/vendors/bootstrap-tooltip.js"></script>
  <script src="/javascripts/vendors//bootstrap-popover.js"></script>
  <script src="/javascripts/vendors/bootstrap-button.js"></script>
  <script src="/javascripts/vendors/bootstrap-collapse.js"></script>
  <script src="/javascripts/vendors/bootstrap-carousel.js"></script>
  <script src="/javascripts/vendors/bootstrap-typeahead.js"></script>

  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/vendors/main_pg.js"></script>
  <script src="/javascripts/vendors/signin_pg.js"></script>
  <script src="/javascripts/vendors/register_pg.js"></script>
  <script src="/javascripts/vendors/signout_pg.js"></script>

  <script src="/javascripts/services.js"></script>
</html>